* {
  font: inherit;
  text-decoration: none;
  color: $text;
}

body {
  font-family: 'TT-Lakes', sans-serif;
  margin: 0;

  width: 100vw;
  min-width: 320px;
  height: 100%;
  overflow-x: hidden;
}

.blurred {
  filter: blur(100px);
}
