.swiper {
  &__header {
    height: 80px;
    background: $gradient;
    border-top: 1px solid $border;
  }

  &__title {
    margin: 0;
    padding: 20px;
    padding-left: 40px;
    font-size: 16px;
    font-weight: 100;
  }
}
