$color: #f8f8f8;
$colorW: #ffffff;
$border: #d9fff5;
$borderG: #eaeaea;
$gradient: linear-gradient(to right, #f8f8f8 40%, #ffffff 60%);
$colorPag: #b5b6bc;
$colorBtn: #ff3e79;
$text: black;
$text2: #7e7e82;

$mobile: mobile;
$ipad: ipad;
$desktop: desktop;
